.main{
    position: relative;
    width: 900px;
    height: 600px;
    margin: auto;
    overflow: hidden;
}

.pageturn{
    width: 900px;
    height: 600px;
}
.one {
    width: 450px;
    height: 600px;
    position: absolute;
    left: 0px;
    z-index: 10;
}
.two {
    width: 450px;
    height: 600px;
    position: absolute;
    left: 450px;
    z-index: 10;
}

.left{
    width: 450px;
    height: 600px;
    position: relative;
    top: 0px;
    overflow: hidden;
}

.right{
    width: 450px;
    height: 600px;
    position: relative;
    left: 450px;
    top: -600px;
    overflow: hidden;
}

.img{
    width: 450px;
    height: 600px;
}