pre {
	padding: 10px; 
	border-top: 1px solid #5cb85c; 
	border-bottom: 1px solid #5cb85c;
	border-left: none;
	border-right: none;
	background: #fff;
	border-radius: 0px;
	margin-bottom: 1.5em
}
code {padding: .5em .em; background-color: #fff ;border: 1px solid #5cb85c; border-radius: 4px;}
pre code {padding: .5em .em; background-color: #fff; border:none;}

.post_content p a {display: inline-block;}
blockquote {
	margin: 0px 0px 20px 0px;
	border-left: 5px solid #1da5b5;
}
blockquote p{ margin-top: 0px;}

ul li {
	list-style:initial;
	padding: 2px;
}

img {
	padding: 3px;
	border: 1px solid #5cb85c;
	border-radius: 4px;
	margin: 0 auto;
	margin-top: 20px;
}

h1{
	margin-top: 30px;
}