.header-border{
	border: 0px;
}

.header-bg {
	
}

.header-height {
	margin-bottom: 0px;
	background-color: #3276b1;
}
.hr-comment {
	border-top: 2px dotted #ededed;
}
.hr-header {
	margin-top: 0px;
	border-top: 1.5px solid #ededed;
}

.nav-right > li {
	padding: 0px 2px 0px 0px;
	float: right;
	margin-bottom: -1px;
}

.qa-list {
	padding: 30px 10px 10px 30px;
	list-style: none;
}

.qa-list li{
	padding: 0px 0px 10px 0px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ededed;
}

.qa-img {
	border: 5px solid #ededed;
	width: 60px;
	height: 60px;
}

.qa-margin-left {
	margin-left: -8px;

}

.qa-info {
	max-width: 500px;
}

.ask {
	margin-bottom: 10px;
}

.head-img {
	width: 140px;
	height: 140px;
}

.follow {
	margin-top: 30px;
	padding-left: 0px;
}

.follow a {
	border: 0px;
	margin-bottom: 5px 
}

.fix-margin-top {
	margin-top: 20px;
}

.mark-p {
	line-height: 2.5;
}

.border-0 {
	border: 0px;
}

.main-content {
	min-height: 500px;
}

.a-float-left {
	float: left;
}

.info-margin-left {
	margin-left: 10px;
}

.info-img {
	width: 180px;
	height: 160px;
}

.info-link {
	margin-top: 10px;
	width: 100%;
}

.info {
	min-height: 100px;
}

.foot .container {
	color: #ffffff;
	border-radius: 4px;
	text-align: center;
	background-color: #3276b1;
}
foot .container p a {
	color: #ffffff;
}