input, textarea {outline: none}

.editor ul {
    list-style: none;
    padding-left: 0px;
}


.editor-menu{
    display: list-item;
    float: left;
    padding: 8px;
    color: #DDD;
}

.editor-menu:hover {
    background: #5cb85c;
    color: #fff;
    border-radius: 4px;
}

.editor-menu-i{
    display: list-item;
    float: left;
    padding: 8px;
    background: #5cb85c;
    color: #fff;
    border-radius: 4px;
}

.editor-menu-i:hover {
    background: none;
    color: #ddd;
}


.editor-segmentation {
    color: #ddd;
    display: list-item;
    float: left;
    margin: 8px 0px;
    border-left: 1px solid #ededed;
    height: 20px;
}



.editor ul li a {
    width: 20px;
    height: 20px;
}

.workpace {
    color: #ddd;
    border: 0px;
    resize: none;
    width: 100%;
    height: 38px;
    font-size: 20px;
}

.workspace-focus {
    background: #f6f6f6;
    color: #333;
    border: solid 1px #5cb85c;
    border-radius: 4px;
}

/********************/
#input-desc {
    border: 0px;
    resize: none;
    width: 100%;
    height: 38px;
/*    font-size: 20px;*/
}

.input-desc-info {
    margin-left: 10px;
    color: #5cb85c;
    text-decoration: none;
}
a.input-desc-info:hover {
    color: #5cb85c;
    text-decoration: none;
}