{% include meta.html %}
<div class="main">
	<!--top-->
	<div class="top">
		<div class="name"><h1>Banama</h1></div>
		{% include nav.html %}
	</div>

	<!--contents-->
	<div class="contents">

		<!--silder_r-->
		<div class="slider_l">
			<div class="slnav">
				<ul>	
					<li>test</li>
				</ul>	
			</div>
		</div>

		<!--silder_l-->
		<div class="slider_r">
			<div class="content">
				<ul>
				{% for post in site.posts %}
				<li>
				 {{ post.date | date_to_string }} <a href="{{ post.url }}">{{ post.title }}</a >
				</li>
				{% endfor %}
				</ul>
			</div>
		</div>

	</div>
	{% include foot.html %}
</div>

