{% include meta.html %}
<div class="main">
	<!--top-->
	<div class="top">
		<div class="name"><h1>Banama</h1></div>
		{% include nav.html %}
	</div>

	<!--contents-->
	<div class="contents">

		<!--silder_r-->
		<div class="slider_l">
			<div class="slnav">
			<ul>	
					<li><a href="{{ site.url }}/categories/science/">科学计算</a></li>
					<li><a href="{{ site.url }}/categories/share/">分享</a></li>
				</ul>	
			</div>
		</div>

		<!--silder_l-->
		<div class="slider_r">
			<div class="content">
				{{ content }}
			</div>
		</div>

	</div>
	{% include foot.html %}
	
<script type="text/javascript">
seajs.config({
    base: "{{ site.url }}/static",
    alias: {
      "jquery": "/bower_components/jquery/dist/jquery"
    }
});
seajs.use("script/src/simple-input/simple-input");
</script>
</div>
</body>
</html>
