{% include header.html %}
{% include nav.html %}

<div class="container">
	
	<!--contents-->
	<div class="title">
		<h1>{{ page.title }}</h1>
	</div>

	<div class="post_content">
		{{ page.date | date_to_string }}<br/><hr><br>
		{{ content }} 
	</div>
</div>

<div class="container">{% include disqus.html %}</div>
{% include foot.html %}
<script type="text/javascript">
seajs.config({
    base: "{{ site.url }}/static",
    alias: {
      "jquery": "/bower_components/jquery/dist/jquery"
    }
});
</script>
</div>
</body>
</html>
