{% include header.html %}
<div class="resume-top">
	<p>牛轶超的简历</p>
</div>

<div class="container">
	<div class="resume">
		{{ content }} 
	</div>
</div>
<script src="/static/bower_components/seajs/dist/sea.js" type="text/javascript"></script>
<script type="text/javascript">
seajs.config({
    base: "{{ site.url }}/static",
    alias: {
      "jquery": "/bower_components/jquery/dist/jquery"
    }
});

</script>
<a href='http://topdfs.sinaapp.com/pdf/72b3a045-5d9b-11e4-bab0-69b983353356' target='_blank' ><img style='position: fixed; top: 15px; right: 15px; border: 0;'src='http://topdf.qiniudn.com/pdf32.png'></a>
</div>
</body>
</html>
